.navbar-inverse{
    background: #3f7fbf;
    border-color: #3f7fbf;
    background-image: none;
    
}

.nav{
    width: 100%
}

.navbar-inverse .navbar-nav li a {
    color: white;
}

.navbar-inverse .navbar-nav li a:hover{
    background: #0b2938;
}

.home{
    text-decoration: underline; 
}

.header{
    background-color:#333333;
    color: white;
    border-radius: 40px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
    margin-top: 15px;
    padding: 5px;
}

.header h1{
    padding-left: 40px;
}

.quickadd{
    padding: 10px;
   
}

li.navi.sign{
     float: right;
}

li.navi.quickadd{
     float: right;
}

.today{
    background-color: lightgray;
    width: 30%;
    height: 350px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
}

.login{
    background-color: lightgray;
    width: 30%;
    height: 350px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
}

.homePane2{
    background-color: lightgray;
    width: 30%;
    height: 350px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
}

.user{
    margin: 20px;
}

.pass{
    margin: 20px
}

.sub{
    text-align: center;
}

.dayView{
    text-align: center;
    margin: 20px;
    padding: 30px;
    background-color: #104e8b;
    border-radius: 20px;
    width: 80%;
    
}

.monthView{
    text-align: center;
    margin: 20px;
    padding: 30px;
    background-color: #104e8b;
    border-radius: 20px;
    width: 80%;
    float: in
   
}

.addBulletView{
    
    text-align: center;
    margin: 20px;
    padding: 30px;
    background-color: #104e8b;
    border-radius: 20px;
    width: 80%;
    
    
}

.dayView a{
    color: white;
}

.monthView a{
    color: white;
}

.addBulletView a{
    color: white;
}

.homePane2{
    text-align: center;
}