.month{
    text-decoration: underline; 
}

.home{
    text-decoration: none;
}

.month-list{
    width: 100%;
    
}
.month-item{
    display: flex;
    border: 5px solid lightslategray;
    /*font-size: 2.5vw;*/
    list-style-type: none;
    margin: 8px;
    /*padding: 40px;*/
    width: 15%;  
    height: 10vw;
    text-align: center;
    align-items: center;
    
}

.month-item{
    background-color: lightgray;
    border-color: white;
    
}

.month-item a{
    color: lightslategray;
    font-size: 2vw; 
    
}

.month-item a{
    color: darkblue;
}

.month-item:hover{
    opacity: 0.6; 
    
    
}